.main {
  border: 10px solid #0D324D;
  max-width: 350px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  background-color: #8B80F9;
  font-family: 'Courier New', Courier, monospace;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* viewport height */
  margin: 0;      /* remove default margin */
}

.heading {
  text-align: center;
}

footer {
  text-align: center;
}
